{% extends 'base.html' %}

{% block title %}
    File Upload
{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3 mt-3">
        <h3 class="text-center">Upload File</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Upload">
        </form>
        {% if saveObject %}
            <h2> Successfully File Upload. </h2>
            <h2> Image Descriptions : {{ saveObject.description }}. </h2>
        {% endif %}
    </div>
{% endblock %}